@tailwind base;
@tailwind components;
@tailwind utilities;

/* Create this file in your project to add the animation */
@keyframes borderSpin {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-border-spin {
    animation: borderSpin 3s ease infinite;
  }

  
  